<link rel="stylesheet" href="/css/bootstrap.min.css" />
<div th:replace="fragments/fragment"></div>
<div class="container">
	<br />
	<h1>List All Courses</h1>

	<table id="listAllCourse"
		class="table table-striped table-bordered dt-responsive nowrap">
		<thead>
			<tr>
				<th class="text-center">No.</th>
				<th class="text-center">ID Course</th>
				<th class="text-center">Course Name</th>
				<th class="text-center">SKS</th>
				<th class="text-center">Mahasiswa Yang Mengambil</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="course,iterationStatus: ${courses}">

				<td class="text-center" th:text="${iterationStatus.count}">No.</td>
				<td class="text-center" th:text="${course.id_course}">ID Course</td>
				<td class="text-center" th:text="${course.name}">Course Name</td>
				<td class="text-center" th:text="${course.credits}">SKS</td>
				<td class="text-center">	
					<ul th:each="student,iterationStatus: ${course.students}">
						<li th:text="${student.npm} + '-' + ${student.name}"> Nama MHS
					</li></ul></td>
				
			</tr>
		</tbody>
		</table>
</div>
<div th:replace="fragments/fragment"></div>
<script>
		$(document).ready(function() {
			$('#listAllCourse').DataTable({
				responsive : true
			});
		})
	</script>